body {
  min-width: 320px;
}

.input-row input {
  width: 50%;
}

.input-row label {
  width: 50%;
}

.table-view-cell {
  padding: 7px 65px 6px 15px;
}

li {
  font-size: 14px;
  color: #777;
}

ul, ol {
  padding-left: 20px;
}
